.ImportAndExport {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;

  @include bplte(xs) {
    font-size: 24px;
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    i {
      font-size: 32px;

      @include color(opp);

      @include bplte(xs) {
        font-size: 24px;
      }
    }
  }

  &-openButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 32px;

    @include bplte(xs) {
      font-size: 24px;
    }

    i {
      @include color(warn);
    }
  }

  &-buttonWrap {
    display: flex;
    justify-content: flex-end;
    margin-top: $gutter-mini;
  }

  &-exportButton {
    @extend .Button--primary;
    margin-top: $gutter;
  }

  &-label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: $gutter-mini;
  }

  &-inputWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $gutter;
    position: relative;
  }

  &-inputForm {
    position: relative;
    width: 100%;
  }

  &-filenameInput {
    @include color(further);
    @include color(opp, border-bottom-color);
    font-family: inherit;
    font-size: 16px;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    background-color: transparent;
    flex-grow: 1;
    padding: 5px $gutter/4;
    padding-right: 35px;
    border: $border-default;
    border-color: transparent;
    transition: $transition-fast all;

    &:hover,
    &:focus {
      @include color(opp, border-color);
      border-radius: $gutter/2;
      outline: none;
    }

    &::placeholder {
      font-weight: 500;
    }
  }

  &-penIcon {
    @include color(opp);
    pointer-events: none;
    position: absolute;
    right: $gutter/2;
    top: 50%;
    transform: translateY(-50%);
  }

  &-fileType {
    display: flex;
    align-items: center;
    gap: $gutter-mini;

    label {
      display: flex;
      align-items: center;
      font-size: 16px;
      transition: $transition-fast all;

      input {
        display: none;
      }

      i {
        margin-right: $gutter-mini;
      }

      &.hover span {
        text-decoration: underline;
      }
    }
  }

  &-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
  }

  .ImportAndExport-heading {
    padding-left: $gutter * 2;
    padding-right: $gutter * 2;
  }

  &-uploadedFiles {
    max-height: 200px;
    overflow-y: auto;
    margin-top: $gutter;
  }

  &-fileItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $gutter-mini;
    margin-bottom: $gutter-mini;
    border-radius: $gutter-mini;
    border: 1px solid transparent;
    transition: $transition-fast all;

    &:hover {
      border: 1px solid;
      @include color(opp, border-color);
    }
  }

  &-fileIcon {
    flex-shrink: 0;
    font-size: 24px;
    @include color(opp);
  }

  &-fileDetails {
    flex-grow: 1;
    margin-left: $gutter-mini;
    font-size: 16px;
  }

  &-fileName {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; // This limits the filename width to avoid modal resizing
  }

  &-fileStatus {
    flex-shrink: 0;
    margin-left: $gutter-mini;
    font-size: 14px;

    .ImportAndExport-deleteButton {
      @extend .Button--secondary;
    }
  }

  &-dragBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed;
    @include color(opp, border-color);
    padding: $gutter;
    text-align: center;
    border-radius: $gutter;
    cursor: pointer;
  
    button {
      @extend .Button--primary;
      margin-top: $gutter-mini;
    }
  }  

  &-fileInput {
    display: none;
  }
}